<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seung.DAO.IF_User_DAO">
	<insert id="UserInput">
		INSERT INTO huser
		VALUES(
		#{id},
		#{pwd},
		#{name},
		default
		)
	</insert>
	<select id="selectAll" resultType="com.seung.VO.User_VO">
		SELECT *
		FROM
		huser
	</select>
	<select id="selectOne" resultType="com.seung.VO.User_VO">
		SELECT *
		FROM
		huser
		WHERE id =
		#{id}
	</select>
	<update id="update">
		UPDATE huser
		SET name = #{name}
		WHERE pwd = #{pwd}
	</update>
	<delete id="delete">
		DELETE FROM huser
		WHERE pwd = #{pwd}
	</delete>
</mapper>
